

.nav-menu{
    background-color: $color-darker;
    display: flex;
    justify-content: center;
    .grid{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    &__item{
        a{
            @include font('principal', 18, $font-normal, 18,  $color-lighter);
        }
    }
}

%line{
    width: 5px;
    background-color: $color-lighter;
    position: absolute;
    height: 100%;
}
.logo{
    width: 100px;
    height: 100px;
    position: relative;
    .circle{
        width: 100%;
        height: 100%;
        border: 5px solid $color-lighter;
        border-radius: 50%;
        overflow: hidden;
        position:relative;
        
        .line{
            &--left{
                @extend %line;
                left: 25%;
            }
            &--diagonal{
                @extend %line;
                left: calc(50% - 2.5px);
                transform: rotateZ(-29deg);
            }
            &--right{
                @extend %line;
                right: 25%;
            }
            &--horizontal{
                position: absolute;
                background-color: $color-lighter;
                height: 5px;
                width: 100%;
                left: 0;
                top: 50%;
            }
        }
    }
            .top{
                position: absolute;
                right: 0;
                top: 0;
                width: 25.4%;
                height: 50%;
                background-color: white;
                z-index: 2;
            }
            .bottom{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 25.5%;
                height: 49%;
                background-color: white;
                z-index: 2;
            }
}

