.skills{
    display: flex;
    .grid{
        display: flex;
    }
    &__container{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
}
@import 'cube';
@import 'skill';


