.skill{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        @include font('principal', 32, $font-semibold, 32, $color-lighter);
        margin-bottom: 1em;

    }
    &__container{
        width: 200px;
        height: 200px;
        position: relative;
    }
    &__chart{
        width: 200px;
        height: 200px;
    }

    %cirlce{
        fill: none;
        stroke-width: 20;
    }
    &__circle-bg{
        @extend %cirlce;
        stroke: #f0f0f0;
    }
    &__circle{
        @extend %cirlce;
        transform: rotateZ(-90deg);
        transform-origin: center;
        stroke-linecap: round;
        animation: fill-circle 1s ease-out;
    }
    &__percent{
        text-anchor: middle;
        alignment-baseline: middle;
        fill: $color-texts;
        @include font('principal', 32, $font-semibold, 32, $color-texts);
    }
    &__desc{
        @include font('principal', 18, $font-semibold, 18, $color-texts);
        text-align: center;
        margin: calc-em(22, 18) 0;
    }
}

@keyframes fill-circle{
    from{
        stroke-dashoffset: 565.2;
    }
}